<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tourguide">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/travel3"
        android:label="@string/app_name"
        android:roundIcon="@drawable/travel3"
        android:supportsRtl="true"
        android:theme="@style/Theme.TourGuide">
        <activity
            android:name=".About"
            android:exported="false" />
        <activity
            android:name=".Refunds"
            android:exported="false" />
        <activity
            android:name=".Commisions"
            android:exported="false" />
        <activity
            android:name=".Transactions"
            android:exported="false" />
        <activity
            android:name=".Refund"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".Maps"
            android:exported="false"
            android:label="Maps" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceProviderProfile"
            android:exported="false"
            android:label="@string/title_activity_service_provider_profile"
            android:theme="@style/Theme.TourGuide.NoActionBar" />
        <activity
            android:name=".HotelOrders"
            android:exported="false"
            android:label="Hotel Orders" />
        <activity
            android:name=".AddService"
            android:exported="false" />
        <activity
            android:name=".AddAdmin"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false"
            android:label="@string/title_activity_profile"
            android:theme="@style/Theme.TourGuide.NoActionBar" />
        <activity
            android:name=".Services"
            android:exported="false" />
        <activity
            android:name=".ServiceProvider"
            android:exported="false" />
        <activity
            android:name=".ServicesMapping"
            android:exported="false"
            android:label="Service Locations" />
        <activity
            android:name=".Payment"
            android:exported="false" />
        <activity
            android:name=".BookHotel"
            android:exported="false" />
        <activity
            android:name=".TransportOrders"
            android:exported="false"
            android:label="Recreation" />
        <activity
            android:name=".PopularHotels"
            android:exported="false"
            android:label="Hotels" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>